<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Shortly URL shortening API Challenge</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <nav id="header" class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#"><img class="logo" src="images/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu-items">
        <li class="nav-item"><a class="nav-link text-secondary" href="#">Features</a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href="#">Pricing</a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href="#">Resources</a></li>
      </ul>

      <ul  class="navbar-nav connexion-items">
        <li class="nav-item"><a class="nav-link text-secondary" href="#">Login</a></li>
        <li class="nav-item"><a class="nav-link bg-cyan btn-100" href="#">Sign Up</a></li>
      </ul>
    </div>
  </nav>

  <div id="body">
    <div id="body-part1">
      <div class="brand-text">
        <h1>More than just shorter links</h1>
        <p class="py-3">Build your brand’s recognition and get detailed insights
          on how your links are performing.</p>
        <button class="btn bg-cyan size-4 btn-100" type="button" name="button">Get Started</button>
      </div>
      <img id="working-img" src="images/illustration-working.svg" alt="">
    </div>

    <div id="body-part2" class="bg-grey">

      <form class="bg-darkViolet" action="/" method="post">
        <input class="input-url" type="url" name="url" placeholder="Shorten a link her...">
        <input class="btn bg-cyan input-btn" type="submit" name="" value="Shorten It!">
      </form>

      <div class="shortenUrl-list">
      <% if(links){ %>
      <% for(i=0; i<links.length; i++){ %>
      <div class="shortenUrl-row">
        <span class="url"><%= links[i].url %></span>
        <div class="shorten-url-btn">
          <input class="mr-1 shortenUrl" readonly="true" placeholder=<%= "https://rel.c/"+links[i].hashid %> type="text" name="" value=<%= "https://rel.c/"+links[i].hashid %> >
          <button class="shortenUrl-btn btn bg-cyan" type="button" name="button">copy</button>
        </div>
      </div>
      <% } } %>
      </div>

      <h2 class="text-center h2p">Advanced Statistics</h2>
      <p class="text-center h2p">Track how your links are performing across the web with our
        advanced statistics dashboard.</p>

      <div id="statistics-container" class="position-relative container-fluid d-flex">
        <hr>
        <div id="statistics-row" class="row justify-content-between align-self-center m-0">
          <div class="statistics-item align-self-start col-sm-4">
            <img src="images/icon-brand-recognition.svg" alt="">
            <h3>Brand Recognition</h3>
            <p>Boost your brand recognition with each click. Generic links don’t
              mean a thing. Branded links help instil confidence in your content.</p>
          </div>
          <div class="statistics-item align-self-center col-sm-4">
            <img src="images/icon-detailed-records.svg" alt="">
            <h3>Detailed Records</h3>
            <p>Gain insights into who is clicking your links. Knowing when and where
              people engage with your content helps inform better decisions.</p>
          </div>
          <div class="statistics-item align-self-end col-sm-4">
            <img src="images/icon-fully-customizable.svg" alt="">
            <h3>Fully Customizable</h3>
            <p>Improve brand awareness and content discoverability through customizable
              links, supercharging audience engagement.</p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="boost-link bg-darkViolet text-center">
    <h2 class="text-white py-3">Boost your links today</h2>
    <button class="btn bg-cyan btn-100" type="button" name="button">Get Started</button>
  </div>
  </div>

  <div id="footer" class="container-fluid bg-dark">
    <div class="row m-0 footer-row">
      <div class="col-sm-4 p-0 footer-items">
        <h2>Shortly</h2>
      </div>


      <div class=" col-sm-6 container-fluid p-0 footer-items">
        <div class="row m-0">
          <ul class="col-sm-4 p-0">
            <li class="menu-title">Features</li>
            <li>Link Shortening</li>
            <li>Branded Links</li>
            <li>Analytics</li>
          </ul>
          <ul class="col-sm-4 p-0">
            <li class="menu-title">Resources</li>
            <li>Blog</li>
            <li>Developers</li>
            <li>Support</li>
          </ul>
          <ul class="col-sm-4 p-0">
            <li class="menu-title">Company</li>
            <li>About</li>
            <li>Our Team</li>
            <li>Careers</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>


      <div id="icon-container" class="col-sm-2 p-0 footer-items">
        <img class="container-img" src="images/icon-facebook.svg" alt="">
        <img class="container-img" src="images/icon-twitter.svg" alt="">
        <img class="container-img" src="images/icon-pinterest.svg" alt="">
        <img class="container-img" src="images/icon-instagram.svg" alt="">
      </div>
    </div>
  </div>


  <div class="attribution bg-dark text-white">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/josiasT1000">Essognim Adi</a>.
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="/scripts.js" charset="utf-8"></script>
</body>

</html>
