@media (min-width: 576px) {
  /* sytle for small devices (landscape phones) */
  html{
    font-size: .5rem;
  }
  .logo{
    width: 75px;
  }
    /* ----------------------------------------------- */
  /* #body-part1{
    height: 300px;
  } */
  /* ----------------------------------------------- */
  form{
    height: 60px;
    bottom: 30px;
  }
  .form-div, .form-div input{
    height: 30px;
  }
  .shortenUrl-list{
    bottom: 30px;
  }
  .shortenUrl-btn{
    width: 50px;
  }
  /* ----------------------------------------------- */
  #statistics-container{
    height: 260px;
    padding: 50px 0;
  }
  hr{
    top: 100px;
  }
  .statistics-item {
    border-radius: 5px;
    height: 80%;
  }
  .statistics-item img{
    bottom: 18px;
    width: 36px;
    padding: 7px;
  }
  .statistics-item p, p.h2p{
    margin-top: 10px;
  }
  /* ----------------------------------------------- */
  .container-img{
    width: 10px;
  }
}
