@media (min-width: 992px){
  /* style for large devices (desktop) */
  html{
    font-size: 1rem;
  }
  .logo{
    width: 125px;
  }
  /* ----------------------------------------------- */
  /* #body-part1{
    height: 500px;
  } */
  /* ----------------------------------------------- */
  form{
    height: 150px;
    bottom: 75px;
  }
  .form-div, .form-div input{
    height: 60px;
  }
  .shortenUrl-list{
    bottom: 75px;
  }
  .shortenUrl-btn{
    width: 100px;
  }

  /* ----------------------------------------------- */
  #statistics-container{
    height: 550px;
    padding: 70px 0 100px;
  }
  hr{
    top: 205px;
  }
  .statistics-item {
    border-radius: 10px;
    height: 80%;
    padding: 0 35px;
  }
  .statistics-item img{
    bottom: 40px;
    width: 80px;
    padding: 20px;
  }
  .statistics-item h3{
    margin-top: 10px;
  }
  .statistics-item p, p.h2p{
    margin-top: 20px;
  }
  /* ----------------------------------------------- */
  .container-img{
    width: 25px;
  }
}
