/* style for normal screen (phone-landscape to large-desktop) */
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1500px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
}
h1, h2, h3, .menu-title{
  font-weight: 700 !important;
}
#header, #body > div, #footer, .attribution{
  padding-left: 10%;
  padding-right: 10%;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 2rem;
}
p{
  font-size: 1.3rem;
}
li{
  font-size: 1rem;
}
/* background class */
.bg-cyan{
  background-color: hsl(180, 66%, 49%);
  color: white !important;
}
.bg-cyan:hover{
  background-color: hsl(180, 66%, 49%, 0.5);
  color: white;
}
.bg-darkViolet{
  background-color: hsl(257, 27%, 26%);
}
.bg-grey{
  background-color: hsl(0, 0%, 75%, 0.3);
}
/* ----------------------------------------------------- */
.btn-100{
  border-radius: 5em;
  padding: .5em 1.5em;
}
/* styling header */
#header{
  padding-top: 2em;
  padding-bottom: 1em;
}
/* styling body-part1 */
#body-part1{
  position: relative;
  overflow: hidden;
  margin: 50px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brand-text{
  width: 50%;
}
#working-img{
  height: 100%;
  position: absolute;
  left: 50%;
}

/* styling form */
form {
  background-image: url("images/bg-shorten-desktop.svg");
  padding: 2em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-url, .input2{
  padding: 1em;
}
.input-url{
  width: 65%;
}
.input-btn{
  width: 30%;
}
/* .form-row input {
  width: 100%;
} */
/* styling shortenUrl-list part */
.shortenUrl-list{
  position: relative;
}
.shortenUrl-row{
  background-color: white;
  margin: 5px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.shortenUrl, .shortenUrl::selection, .shortenUrl:focus{
  border: none;
  color: hsl(180, 66%, 49%);
  border: none;
  outline: none;
}
.shortenUrl{
  text-align: right;
}
/* ---------------------------------------------------- */
.h2p{
  width: 50%;
  margin: 15px auto;
}
/* styling statistics cards */
#statistics-row {
  height: 100%;
}

.statistics-item {
  background-color: white;
  border-radius: 10px;
  flex-basis: 32%;
  height: 85%;
}
.statistics-item img{
  position: relative;
  bottom: 28px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 100%;
  padding: .5em;
}
.statistics-item h3{
  font-size: 1.3rem;
}
.statistics-item p, p.h2p{
  font-size: 1rem;
  margin-top: 25px;
}

hr {
  border: none;
  border: 3px solid hsl(180, 66%, 49%);
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
/* ----------------------------------------------------- */
.boost-link {
  padding: 3em;
  background-image: url("images/bg-boost-desktop.svg");
  background-size: cover;
}
/* ----------------------------------------------------- */
#footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer h2, #footer li, #footer .menu-title:hover{
  color: white;
}

#footer ul {
  /* padding: .5em; */
  list-style-type: none;
  /* text-align: left; */
}

#footer .menu-title {
  padding: 0 0 .5em;
  /* font-weight: bold; */
}
#icon-container{
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
}
.container-img:hover{
  background-color: hsl(180, 66%, 49%);
}
#footer li:hover{
  color: hsl(180, 66%, 49%);
  cursor: pointer;
  /* text-align: left; */
}
.container-img:hover{
  cursor: pointer;
  filter: invert(75%) sepia(75%) saturate(481%) hue-rotate(123deg) brightness(86%) contrast(87%);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:576px) {
  html{
    font-size: .7rem;
  }
  body{
    text-align: center;
  }
  #header, #body > div, #footer, .attribution{
    padding-left: 5%;
    padding-right: 5%;
  }
  #navbarSupportedContent{
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 100%;
    right: 5%;
    left: 5%;
    z-index: 1;
    border-radius: 5%;
    padding: 40px 0;
  }
  .menu-items{
    margin: 0 25px !important;
    padding-bottom: 35px;
  }
  .connexion-items{
    margin: 0 25px !important;
    padding-top: 35px;
    border-top: 1px solid white;
  }
  #navbarSupportedContent a{
    font-size: 1.5rem;
    color: white !important;
    margin: 10px;
  }
  /* styling body-part1 */
  #body-part1{
    margin: 50px 0 100px;
    flex-direction: column-reverse;
  }
  .brand-text{
    width: 100%;
    padding-top: 5em;
  }
  #working-img{
    width: 150%;
    position: static;
  }
  /* styling form */
  form {
    height: 150px;
    background-image: url("images/bg-shorten-mobile.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 2em;
    position: relative;
    bottom: 75px;
    flex-direction: column;
  }
  .input-url, .input-btn{
    height: 40%;
    width: 100%;
    border: none;
  }
  /* styling shortenUrl-list part */
  .shortenUrl-list{
    bottom: 75px;
  }
  .shortenUrl-row{
    flex-direction: column;
    text-align: left;
    padding: 0;
  }
  .url{
    text-align: left;
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .shortenUrl{
    text-align: left;
    margin: 0 !important;
    padding-bottom: 10px;
  }
  .shorten-url-btn{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px;
    border-top: 1px solid hsl(0, 0%, 75%, 0.3);
  }
  /* ---------------------------------------------------- */
  .h2p{
    width: 100%;
  }
  /* styling statistics cards */
  #statistics-container{
    padding: 50px 0;
  }
  #statistics-row {
    flex-direction: column;
  }

  .statistics-item {
    border-radius: 5px;
    margin: 25px 0;

  }
  .statistics-item p{
    margin-top: 10px;
  }

  hr {
    transform: rotate(90deg);
    top: 50%;
  }
/* ---------------------------------------------------- */
  #footer, #footer ul{
    text-align: center;
  }
  #footer .col-md-3{
    margin: 1em;
  }
  .footer-row{
    justify-content: center;
  }
  #icon-container{
    flex-basis: 50%;
    align-items: stretch;
    margin-top: 2em;
  }
  .footer-items, .footer-items li{
    margin: .5em 0;
  }
  #footer .menu-title{
    margin-top: 1.5em;
  }
}

@media only screen and (max-width:768px) {
  /* sytle for small devices (landscape phones) */
  html{
    font-size: .5rem;
  }
  .logo{
    width: 75px;
  }
    /* ----------------------------------------------- */
  #body-part1{
    height: 300px;
  }
  /* ----------------------------------------------- */
  form{
    height: 60px;
    bottom: 30px;
  }
  .form-div, .form-div input{
    height: 30px;
  }
  .shortenUrl-list{
    bottom: 30px;
  }
  .shortenUrl-btn{
    width: 50px;
  }
  /* ----------------------------------------------- */
  #statistics-container{
    height: 260px;
    padding: 50px 0;
  }
  hr{
    top: 100px;
  }
  .statistics-item {
    border-radius: 5px;
    height: 80%;
  }
  .statistics-item img{
    bottom: 18px;
    width: 36px;
  }
  .statistics-item p, p.h2p{
    margin-top: 10px;
  }
  /* ----------------------------------------------- */
  .container-img{
    width: 10px;
  }
}

@media only screen and (max-width:992px){
  /* style for medium devices (tablets) */
  html{
    font-size: .8rem;
  }
  .logo{
    width: 100px;
  }
  /* ----------------------------------------------- */
  #body-part1{
    height: 375px;
  }
  /* ----------------------------------------------- */
  form{
    height: 100px;
    bottom: 50px;
  }
  .form-div, .form-div input{
    height: 50px;
  }
  .shortenUrl-list{
    bottom: 50px;
  }
  .shortenUrl-btn{
    width: 70px;
  }
  /* ----------------------------------------------- */
  #statistics-container{
    height: 400px;
    padding: 70px 0;
  }
  hr{
    top: 150px;
  }
  .statistics-item {
    border-radius: 7.5px;
    height: 80%;
  }
  .statistics-item img{
    bottom: 25px;
    width: 50px;
  }
  .statistics-item p, p.h2p{
    margin-top: 10px;
  }
  /* ----------------------------------------------- */
  .container-img{
    width: 15px;
  }
}

@media only screen and (min-width:992px){
  /* style for large devices (desktop) */
  html{
    font-size: 1rem;
  }
  .logo{
    width: 125px;
  }
  /* ----------------------------------------------- */
  #body-part1{
    height: 500px;
  }
  /* ----------------------------------------------- */
  form{
    height: 150px;
    bottom: 75px;
  }
  .form-div, .form-div input{
    height: 60px;
  }
  .shortenUrl-list{
    bottom: 75px;
  }
  .shortenUrl-btn{
    width: 100px;
  }

  /* ----------------------------------------------- */
  #statistics-container{
    height: 450px;
    padding: 70px 0;
  }
  hr{
    top: 150px;
  }
  .statistics-item {
    border-radius: 7.5px;
    height: 80%;
  }
  .statistics-item img{
    bottom: 25px;
    width: 50px;
  }
  .statistics-item p, p.h2p{
    margin-top: 10px;
  }
  /* ----------------------------------------------- */
  .container-img{
    width: 25px;
  }
}

@media (min-width: 1200px) {
  /* style for large devices (large desktop) */
  /* html{
    font-size: 1.2rem;
  }
  .logo{
    width: 175px;
  } */
  /* ----------------------------------------------- */
  /* ----------------------------------------------- */

}
