@media (max-width: 575px) {
  /* html{
    font-size: .7rem;
  } */
  body{
    text-align: center;
  }
  #header, #body > div, #footer, .attribution{
    padding-left: 5%;
    padding-right: 5%;
  }
  #navbarSupportedContent{
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 100%;
    right: 5%;
    left: 5%;
    z-index: 1;
    border-radius: 5%;
    padding: 40px 0;
  }
  .menu-items{
    margin: 0 25px !important;
    padding-bottom: 35px;
  }
  .connexion-items{
    margin: 0 25px !important;
    padding-top: 35px;
    border-top: 1px solid white;
  }
  #navbarSupportedContent a{
    font-size: 1.5rem;
    color: white !important;
    margin: 10px;
  }
  /* styling body-part1 */
  #body-part1{
    margin: 50px 0 100px;
    flex-direction: column-reverse;
  }
  .brand-text{
    width: 100%;
    padding-top: 5em;
  }
  #working-img{
    width: 150%;
    position: static;
  }
  /* styling form */
  form {
    height: 150px;
    background-image: url("images/bg-shorten-mobile.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 2em;
    position: relative;
    bottom: 75px;
    flex-direction: column;
  }
  .input-url, .input-btn{
    height: 40%;
    width: 100%;
    border: none;
  }
  /* styling shortenUrl-list part */
  .shortenUrl-list{
    bottom: 75px;
  }
  .shortenUrl-row{
    flex-direction: column;
    text-align: left;
    padding: 0;
  }
  .url{
    text-align: left;
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .shortenUrl{
    text-align: left;
    margin: 0 !important;
    padding-bottom: 10px;
  }
  .shorten-url-btn{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px;
    border-top: 1px solid hsl(0, 0%, 75%, 0.3);
  }
  /* ---------------------------------------------------- */
  .h2p{
    width: 100%;
  }
  /* styling statistics cards */
  #statistics-container{
    padding: 50px 0;
  }
  #statistics-row {
    flex-direction: column;
  }

  .statistics-item {
    border-radius: 5px;
    margin: 25px 0;

  }
  .statistics-item p{
    margin-top: 10px;
  }

  hr {
    transform: rotate(90deg);
    top: 50%;
  }
/* ---------------------------------------------------- */
  #footer, #footer ul{
    text-align: center;
  }
  #footer .col-md-3{
    margin: 1em;
  }
  .footer-row{
    justify-content: center;
  }
  #icon-container{
    flex-basis: 50%;
    align-items: stretch;
    margin-top: 2em;
  }
  .footer-items, .footer-items li{
    margin: .5em 0;
  }
  #footer .menu-title{
    margin-top: 1.5em;
  }
}
