/* style for normal screen (phone-landscape to large-desktop) */
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: auto;
  /* background-color: red; */
}
h1, h2, h3, .menu-title{
  font-weight: 700 !important;
}
#header, #body-part1, #body-part2, #footer, .attribution{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1440px;
}

h1{
  font-size: 5rem;
}
h2{
  font-size: 2.7rem;
}
p, .get-started{
  font-size: 1.4rem;
}
li{
  font-size: 1rem;
}
/* background class */
.bg-cyan{
  background-color: hsl(180, 66%, 49%);
  color: white !important;
}
.bg-cyan:hover{
  background-color: hsl(180, 66%, 49%, 0.5);
  color: white;
}
.bg-darkViolet{
  background-color: hsl(257, 27%, 26%);
}
.bg-grey{
  background-color: hsl(0, 0%, 75%, 0.3);
}
/* ----------------------------------------------------- */
.btn-100{
  border-radius: 5em;
  padding: .5em 1.5em;
}
/* styling header */
#header{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* styling body-part1 */
/* #body-part1{
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brand-text{
  width: 50%;
}
#working-img{
  height: 100%;
  position: absolute;
  left: 55%;
  top: 0;
} */

/* styling form */
form {
  background-image: url("images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-url, .input2{
  padding: 1em;
  border-radius: 10px;
}
.input-url{
  width: 75%;
  border: none;
}
.input-btn{
  width: 20%;
}
/* styling shortenUrl-list part */
.shortenUrl-list{
  position: relative;
}
.shortenUrl-row{
  background-color: white;
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.shortenUrl, .shortenUrl::selection, .shortenUrl:focus{
  border: none;
  color: hsl(180, 66%, 49%);
  border: none;
  outline: none;
}
.shortenUrl{
  text-align: right;
  margin-right: 10px;
}
/* ---------------------------------------------------- */
.h2p{
  width: 50%;
  margin: 15px auto;
}
p.h2p{
  font-size: 1.25rem;
}
/* styling statistics cards */
#statistics-row {
  height: 100%;
}
.statistics-item {
  background-color: white;
  height: 85%;
  flex-basis: 32%;
}
.statistics-item img{
  position: relative;
  background-color: hsl(260, 8%, 14%);
  border-radius: 100%;
}
.statistics-item h3{
  font-size: 1.3rem;
}
.statistics-item p{
  font-size: 1rem;
  margin-top: 25px;
}

hr {
  border: none;
  border: 3px solid hsl(180, 66%, 49%);
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
/* ----------------------------------------------------- */
.boost-link {
  padding: 3em;
  background-image: url("images/bg-boost-desktop.svg");
  background-size: cover;
}
/* ----------------------------------------------------- */
#footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer h2, #footer li, #footer .menu-title:hover{
  color: white;
}

#footer ul {
  list-style-type: none;
}

#footer .menu-title {
  padding: 0 0 .5em;
}
#icon-container{
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
}
.container-img:hover{
  background-color: hsl(180, 66%, 49%);
}
#footer li:hover{
  color: hsl(180, 66%, 49%);
  cursor: pointer;
  /* text-align: left; */
}
.container-img:hover{
  cursor: pointer;
  filter: invert(75%) sepia(75%) saturate(481%) hue-rotate(123deg) brightness(86%) contrast(87%);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
